@import "tailwindcss";

@theme {
  --color-darkblue: hsl(230 35% 7%);
  --color-lightblue: hsl(231 77% 90%);
  --color-white: hsl(0 0% 100%);
  --color-sidebar: #0b0d17;

  --font-heading: "Bellefair", serif;
  --font-subheading: "Barlow Condensed", sans-serif;
  --font-body: "Barlow", sans-serif;

  /* This is the one below is the one you used for the sidebar text*/
  --text-fluid-sidebar: clamp(0.93rem, 5.5vw, 5rem);

  /* This is the one you used for the navigation  */
  --text-fluid-navigation: clamp(0.65rem, 2vw, 1.678rem);

  /*This below is the one you used in the subheadings of the pages */
  --text-fluid-subheading: clamp(1.5rem, 4.5vw, 3rem);

  --tracking-wide: 0.05em;
  --tracking-wider: 0.15em;
  --tracking-widest: 0.25em;

  --breakpoint-sm: 450px;
  --breakpoint-md: 500px;
  --breakpoint-lg: 850px;
  --breakpoint-lgwide: 1000px;
  --breakpoint-lgLine: 1320px;
}
