@import "tailwindcss";

@theme {
  --color-darkblue: hsl(230 35% 7%);
  --color-lightblue: hsl(231 77% 90%);
  --color-white: hsl(0 0% 100%);

  --font-heading: "Bellefair", serif;
  --font-subheading: "Barlow Condensed", sans-serif;
  --font-body: "Barlow", sans-serif;

  /* --font-heading: var(--font-bellefair);
  --font-subheading: var(--font-barlow-condensed);
  --font-body: var(--font-barlow); */

  --text-fluid-heading: clamp(1.5rem, 4vw, 3rem)
    {/*This is the one below is the one you used for the sidebar text*/};
  --text-fluid-subheading: clamp(0.93rem, 5.5vw, 5rem);

  --text-fluid-body: clamp(0.875rem, 2vw, 1.125rem);

  --tracking-wide: 0.05em;
  --tracking-wider: 0.15em;
  --tracking-widest: 0.25em;

  --breakpoint-sm: 450px;
  --breakpoint-md: 500px;
}
